# Africa's Talking Configuration
AFRICASTALKING_API_KEY=your_api_key
AFRICASTALKING_USERNAME=your_username

# Reloadly Configuration
RELOADLY_CLIENT_ID=your_client_id
RELOADLY_CLIENT_SECRET=your_client_secret
RELOADLY_API_KEY=your_api_key

# MongoDB Configuration
MONGODB_URI=mongodb+srv://your_username:your_password@your_cluster.mongodb.net/cryptopup?retryWrites=true&w=majority

# Blockchain Configuration
WEB3_PROVIDER=https://polygon-rpc.com  # or your preferred network RPC
USDT_CONTRACT=0xc2132D05D31c914a87C6611C10748AEb04B58e8F  # Polygon USDT
PROJECT_WALLET=your_project_wallet_address

# Server Configuration
PORT=3000
